{% extends "layout.html" %}

{% block title %}
    Following
{% endblock %}

{% block main %}

    <h1>Enter handle to see who they are following:</h1>

    <form action="/following" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="handle" placeholder="Handle" type="text">
        </div>
        <button class="btn btn-primary" type="submit"> Get Following </button>
    </form>
    <div> (This may take a couple of minutes.)</div>
    <br><br>
    <h1> @{{handle}} is following: </h1>
    <ul>
        {% for item in handles %}
            <li> {{item}}</li>
        {% endfor %}
    </ul>


{% endblock %}