{% extends "layout.html" %}

{% block title %}
    Following
{% endblock %}

{% block main %}
    <body id="body">
        <h3>Enter handle to see who they are following:</h3>

        <form action="/following" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="handle" placeholder="Handle" type="text">
            </div>
            <button id="active_button" class="btn btn-primary active_button" type="submit" onclick="loader()"> Get Following </button>
            <div id="loader" style="display:none" class="loader"></div>
            <div> (This may take a few seconds.)</div>
        </form>
        <br><br>
        <h3> @{{handle}} is following: </h3>
        <ul>
            {% for item in handles %}
                <li> {{item}}</li>
            {% endfor %}
        </ul>
    </body>

{% endblock %}