{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <h1> This is HippoBotamus50! </h1>
    <h4> By Sam Dawson, Hull, UK</h4>
    <h4> GitHub: Verano-20</h4>
    <br>
    <div>
        HippoBotamus50 is my final project submission for CS50x 2020.
    </div>
    <br>
    <div>
        Powered by Flask, Bootstrap and InstaPy, this website is linked to the Instagram account
        @hippobotamus50.
    </div>
    <br>
    <div>
        Using this account, there are several functions built into this site enabling you to 
        interact with HippoBotamus50 automatically.
    </div>
    <br>
    <div>
        I chose this as my project as an exploration into the automation of social media accounts.
        Using open-source resources in python, it has been relatively straightforward to create a
        python script to automate following and liking posts on Instagram. In this age of misinformation
        and manipulation online, and where social media is a powerful tool for influencing public opinion, I 
        wanted to see just how easy it was to make a bot account.
    </div>

{% endblock %}