{% extends "layout.html" %}

{% block title %}
    Unfollow me :(
{% endblock %}

{% block main %}

    <body id="body">
        <h3> Enter handle for HippoBotamus50 to unfollow :( </h3>

        <form action="/unfollow" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="handle" placeholder="Handle" type="text">
            </div>
            <button id="active_button" class="btn btn-primary active_button" type="submit" onclick="loader()"> Unfollow Me... </button>
            <div id="loader" style="display:none" class="loader"></div>
            <div> (This may take a few seconds.)</div>
        </form>
    </body>

{% endblock %}