{% extends "layout.html" %}

{% block title %}
    Unfollow me :(
{% endblock %}

{% block main %}

    <h1> Enter your handle for HippoBotamus50 to unfollow you :( </h1>

    <form action="/unfollow" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="handle" placeholder="Handle" type="text">
        </div>
        <button class="btn btn-primary" type="submit"> Unfollow Me... </button>
        <div> (This may take a couple of minutes.)</div>
    </form>

{% endblock %}